[Unit]
Description=Data logger for various sensors
After=network.target

[Service]
ExecStart=/usr/bin/python /home/jakob/sensor_listener.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
